@{
    ViewBag.Title = "About";
}

<div class="row-fluid">
    <div class="span12">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>

    </div>
</div>

<div class="row-fluid">
    <div class="span7">
        <p>
            Personal Project of Cory Westropp.
        </p>
    </div>
</div>
