@{
    ViewBag.Title = "Home Page";
}
    <div class="row-fluid">
        <div class="span12">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
    
    <p>
        Click on the "Sites" link at the top to add a website to monitor.
    </p>
            </div>
</div>
<div class="row-fluid">
    <div class="span7">
<ol class="round">
    <li class="one">
        <h5>Add your site to your monitoring list</h5>
        Go to the "Sites" page to add some websites to monitor.
    </li>

    <li class="two">
        <h5>Receive an email when the site goes down</h5>
        Verify your email address and receive an email when one of your monitored sites goes down.
    </li>
</ol>
        </div>
    </div>
